# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25"
          cache: true
          cache-dependency-path: ./go.sum

      - name: Create Go module cache directory
        run: mkdir -p /home/runner/go/pkg/mod

      - name: Build
        run: go build -v ./...

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Test
        run: go test -v ./...

      - name: Benchmark
        run: go test -bench=.

      - name: Coverage
        run: go test -cover
